# Numpy library ---

<img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/NumPy_logo.svg" alt="Numpy Logo" width="250" height="150">

__Uses of numpy --__

<img src="https://www.interviewbit.com/blog/wp-content/uploads/2021/10/uses-of-numpy.png" alt="Numpy Uses" width="450" height="200">

# __Numpy advantanges -__

__1.Numpy provides efficient storage.
2.It's also provide the better way to handling the data.
3.It'easy to learn.
4.It's fast.
5.Numpy use less memory to store the data.__

<img src="" alt="Stary numpy" width="550" height="230">

In [1]:
import numpy as np

__Note - If you provide the sort d type then you have to give data value according to data type otherwise you will get the value in minus__

In [2]:
myarr = np.array([[3,3,43,5,4]],np.int64)

In [3]:
myarr

array([[ 3,  3, 43,  5,  4]], dtype=int64)

In [4]:
myarr[0,1]

3

In [5]:
myarr[0,3]

5

# Information about the array:

In [6]:
myarr.shape

(1, 5)

__There are some common difference between attributes and methods. Attributes provide the information about the data and methods takes the decision about the data.Attributes does not have paranthisis and methods have paranthisis.__

In [7]:
myarr.dtype

dtype('int64')

In [8]:
myarr.size

5

In [9]:
myarr[0,1] = 45

In [10]:
myarr

array([[ 3, 45, 43,  5,  4]], dtype=int64)

# Numpy array creation methods -

__There are 6 general mechanisms for creating arrays:__

__1.Conversion from other Python structures (i.e. lists and tuples)
2.Intrinsic NumPy array creation functions (e.g. arange, ones, zeros, etc.)
3.Replicating, joining, or mutating existing arrays
4.Reading arrays from disk, either from standard or custom formats
5.Creating arrays from raw bytes through the use of strings or buffers
6.Use of special library functions (e.g., random)__

In [11]:
listarray = np.array([[[1,2,3],[4,5,6],[8,9,10]]])

In [12]:
listarray

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 8,  9, 10]]])

In [13]:
listarray.dtype

dtype('int32')

In [14]:
listarray.shape

(1, 3, 3)

In [15]:
listarray.size

9

In [16]:
listarray.nbytes

36

In [17]:
listarray.itemsize

4

In [18]:
listarray.strides

(36, 12, 4)

In [19]:
listarray.ndim

3

In [20]:
listarray.real

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 8,  9, 10]]])

In [21]:
listarray.imag

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]])

__Here the mean of 000 is listarray is not complex numbers all the numbers is real numbers__

In [22]:
listarray.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False

# Intrinsic numpy array -

# zeros-

In [23]:
zeros = np.zeros((2,5))

In [24]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [25]:
zeros.dtype

dtype('float64')

In [26]:
zeros.nbytes

80

In [27]:
zeros.itemsize

8

In [28]:
zeros.shape

(2, 5)

In [29]:
zeros.size

10

# arange-

In [30]:
rng = np.arange(34)

In [31]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33])

In [32]:
lspace = np.linspace(1,5,5)

In [33]:
lspace

array([1., 2., 3., 4., 5.])

# Empty

In [34]:
emp = np.empty((4,6))

In [35]:
emp

array([[4.67296746e-307, 1.69121096e-306, 3.11522054e-307,
        9.34583987e-307, 1.37961505e-306, 1.60219035e-306],
       [8.01097889e-307, 1.78020169e-306, 7.56601165e-307,
        1.02359984e-306, 1.33510679e-306, 2.22522597e-306],
       [1.33511018e-306, 6.23057689e-307, 1.11260755e-306,
        8.34453626e-308, 9.45699680e-308, 1.11261774e-306],
       [1.29060871e-306, 8.34424766e-308, 8.34445138e-308,
        7.56577398e-307, 9.34600284e-307, 1.11253693e-306]])

In [36]:
emp_like = np.empty_like(emp)

In [37]:
emp_like

array([[4.67296746e-307, 1.69121096e-306, 3.11522054e-307,
        9.34583987e-307, 1.37961505e-306, 1.60219035e-306],
       [8.01097889e-307, 1.78020169e-306, 7.56601165e-307,
        1.02359984e-306, 1.33510679e-306, 2.22522597e-306],
       [1.33511018e-306, 6.23057689e-307, 1.11260755e-306,
        8.34453626e-308, 9.45699680e-308, 1.11261774e-306],
       [1.29060871e-306, 8.34424766e-308, 8.34445138e-308,
        7.56577398e-307, 9.34600284e-307, 1.11253693e-306]])

In [38]:
ide = np.identity(45)

In [39]:
ide

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [40]:
ide.shape

(45, 45)

In [41]:
ide.size

2025

In [42]:
ide.itemsize

8

In [43]:
ide.nbytes

16200

In [44]:
rng = np.arange(99)

In [45]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [46]:
rng = rng.reshape(3,33)

In [47]:
rng

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [48]:
rng

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [49]:
rng = rng.ravel()

In [50]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

# Numpy Axis -

<img src="https://www.sharpsightlabs.com/wp-content/uploads/2018/12/1d-array-has-one-axis.png" alt="Axis in numpy" width="250" height="230"></a>
<img src="https://www.sharpsightlabs.com/wp-content/uploads/2018/12/numpy-arrays-have-axes_updated_v2.png" alt="Axis" width="250" height="230"></a>
<img src="https://cdn.educba.com/academy/wp-content/uploads/2020/02/c-multidimensional-arrays.jpg" alt="Third dimensions" width="506" height="230">

In [51]:
x = [[1,2,3],[4,5,6],[7,8,9]]

In [52]:
ar = np.array(x)

In [53]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [54]:
ar.sum(axis=0)

array([12, 15, 18])

In [55]:
ar.sum(axis=1)

array([ 6, 15, 24])

# Transpose of the array:

In [56]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [57]:
ar.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

# flat -

In [58]:
ar.flat

In [59]:
for item in ar.flat:
    print(item)

1
2
3
4
5
6
7
8
9

In [60]:
ar.ndim

2

In [61]:
ar.itemsize

4

In [62]:
ar.size

9

In [63]:
ar.nbytes

36

# one domensional array -

In [64]:
one = np.array([1,2,3,5,4],np.int32)

In [65]:
one

array([1, 2, 3, 5, 4])

In [66]:
one.argmax()

3

In [67]:
one.argmin()

0

In [68]:
one.argsort()

array([0, 1, 2, 4, 3], dtype=int64)

In [69]:
one.dtype

dtype('int32')

In [70]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [71]:
ar.argmax()

8

In [72]:
ar.argmin()

0

In [73]:
ar.argsort()

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]], dtype=int64)

In [74]:
ar.argmin(axis=0)

array([0, 0, 0], dtype=int64)

In [75]:
ar.argmax(axis=1)

array([2, 2, 2], dtype=int64)

In [76]:
ar.argmin(axis=1)

array([0, 0, 0], dtype=int64)

In [77]:
ar.ravel()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [78]:

ar.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [79]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [80]:
ar.reshape(9,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

# We can also apply arithmethic operation in two matices.

In [81]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [82]:
ar2 = np.array([[1,2,3],[4,5,6],[6,7,8]])

In [83]:
ar + ar2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [13, 15, 17]])

In [84]:
ar * ar2

array([[ 1,  4,  9],
       [16, 25, 36],
       [42, 56, 72]])

In [85]:
np.sqrt(ar)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 2.82842712, 3.        ]])

In [86]:
squere = ar ** 2

In [87]:
squere

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [88]:
ar.sum()

45

In [89]:
ar.max()

9

In [90]:
ar.min()

1

In [91]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [92]:
np.where(ar>6)

(array([2, 2, 2], dtype=int64), array([0, 1, 2], dtype=int64))

In [93]:
np.count_nonzero(ar)

9

In [94]:
ar[0,1] = 0

In [95]:
ar

array([[1, 0, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [96]:
np.count_nonzero(ar)

8

In [97]:
np.nonzero(ar)

(array([0, 0, 1, 1, 1, 2, 2, 2], dtype=int64),
 array([0, 2, 0, 1, 2, 0, 1, 2], dtype=int64))

# How numpy array take less memory and time?

In [98]:
import sys

In [99]:
py_ar = [1,2,3,4]

In [100]:
numpy_arr = np.array(py_ar)

In [101]:
sys.getsizeof(1) * len(py_ar)

112

In [102]:
len(py_ar)

4

In [103]:
numpy_arr.itemsize * len(numpy_arr)

16